:root {
  --spacing-unit: 1.5rem;
  --spacing-unit-s: calc(0.5 * var(--spacing-unit));
  --spacing-unit-l: calc(1.5 * var(--spacing-unit));
  --border-radius: 3px;
  --gray: #cbd5e1;
  --gray-dark: #64748b;
  --gray-light: #f1f5f9;
  --green: #065f46;
  --green-light: #ecfdf5;
  --red: #9f1239;
  --red-light: #fff1f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: var(--gray-light);
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: var(--spacing-unit-l);

  padding: calc(0.75 * var(--spacing-unit));
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 32rem) {
  body {
    justify-content: center;
  }

  .wrapper {
    max-width: 32rem;
    min-height: auto;
    margin: var(--spacing-unit) auto;
    padding: var(--spacing-unit);
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--spacing-unit);
}

.header__title {
  font-weight: bold;
}

.header__app-link {
  color: var(--gray-dark);
  text-decoration: none;
}

.header__app-link::after {
  content: ' →';
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-unit-l);
}

.status {
  display: flex;
  width: 100%;
  padding: var(--spacing-unit-s) calc(0.75 * var(--spacing-unit));
  gap: calc(0.75 * var(--spacing-unit));
  align-items: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.status--success {
  --color: var(--green);
  --background-color: var(--green-light);
}

.status--error {
  --color: var(--red);
  --background-color: var(--red-light);
}

.status h1 {
  font-size: inherit;
  color: var(--color);
}

.status p {
  color: var(--gray-dark);
}

.status__icon {
  flex-grow: 0;
  flex-shrink: 0;
}

.status__icon svg {
  display: block;
  width: var(--spacing-unit-l);
  height: var(--spacing-unit-l);
  fill: var(--color);
}

.message {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-s);
}

.message + .message {
  margin-top: var(--spacing-unit);
  padding-top: var(--spacing-unit);
  border-top: 2px solid var(--gray-light);
}

.message__title {
  font-size: inherit;
}

.message__meta {
  color: var(--gray-dark);
}

.updates {
  --bullet-width: calc(0.25 * var(--spacing-unit));
  --track-width: 2px;
  --indent: var(--spacing-unit);

  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-s);
  list-style: none;
  padding-left: var(--bullet-width);
}

.updates__item {
  position: relative;
  padding-left: var(--indent);
}

.updates__item:not(:last-child)::before {
  content: '';

  position: absolute;
  top: var(--spacing-unit-s);
  left: 0;
  transform: translateX(-50%);

  display: block;
  width: var(--track-width);
  height: 100%;
  background-color: var(--gray);
}

.updates__date {
  position: relative;
  display: block;
  font-size: 0.85em;
  color: var(--gray-dark);
}

.updates__date::after {
  content: '';

  position: absolute;
  top: 50%;
  left: calc(-1 * var(--indent));
  transform: translate(-50%, -50%);

  display: block;
  width: var(--bullet-width);
  height: var(--bullet-width);

  background-color: var(--gray);
  border: var(--bullet-width) solid #fff;
  border-radius: 50%;
}
